<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>تعديل بيانات مواطن</title>
</head>
<body>
    <div class="glass-card">
        <h2 class="gold-text">تعديل ملف المواطن: {{ user.id_num }}</h2>
        <form action="/admin/update_user/{{ user.id_num }}" method="POST">
            <div class="grid-4">
                <input type="text" name="fname_ar" value="{{ user.fname_ar }}">
                <input type="text" name="mname_ar" value="{{ user.mname_ar }}">
                <input type="text" name="gname_ar" value="{{ user.gname_ar }}">
                <input type="text" name="lname_ar" value="{{ user.lname_ar }}">
            </div>
            <button type="submit" class="btn-gold mt-30">حفظ التغييرات السيادية</button>
        </form>
    </div>
</body>
</html>
