<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>التحقق الحيوي</title>
</head>
<body>
    <div class="glass-card text-center">
        <h3>نظام التعرف على الوجه</h3>
        <p>ضع وجهك داخل الدائرة الحمراء لبدء التحليل</p>
        
        <div id="video-container">
            <video id="video" autoplay muted></video>
            <div class="scan-line"></div> </div>

        <div class="controls mt-20">
            <button onclick="startCamera()" class="btn-gold">بدء الكاميرا</button>
            <button onclick="captureAndVerify()" class="btn-gold">بدء التعرف</button>
        </div>
    </div>

    <script src="/static/js/face_logic.js"></script>
</body>
</html>
